


/*////////////////*/
/* Landing Section */
/*////////////////*/

.landing-section {
  max-width: 1440px;
  width: 100%;
  height: calc(100vh);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-header{
  display: flex;
}

.home-big-name {
  /* font-size: 13vw; */
  /* font-weight: 700; */
  /* padding-top: 1rem; */
  max-width: 1440px;
  width: 75%;
  /* height: 46vh; */
  height: max-content;
  pointer-events: none;
  position: relative;
  /* margin: 2rem 0rem; */
  margin-top: 5rem;
}

.home-big-name-solid {
top: 0;
left: 0;
width: 100%;
}


.home-big-name-outline {
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  transition: top 0.4s ease;
  

}


.landing-row{
width: 100%;
display: flex;
flex-direction: row;
margin-bottom: 6rem;
margin-top: 1rem;

}

.landing-about{
width: 50%;
white-space: nowrap;
cursor: default;
    line-height: 1.5rem;
}

.landing-about-text{
  width: 50%;
}

.landing-scroll-button {
width: 50%;
}



/*////////////////*/
/* Portfolio Section */
/*////////////////*/


.sp-section {
  max-width: 1440px;
  width: 100%;
  padding: 10rem 0rem;
}

.sp-header {
font-size: 4rem;
overflow: hidden;
pointer-events: none;
}

.sp-title{
  font-weight: 300;
  opacity: 1;
 font-family: "Major Mono Display", monospace;
  /* font-family: "Doto", sans-serif; */
}

.sp-row{
  display: flex;
  flex-direction: row;
  margin: 3rem 0rem;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.sp-card-large {
width: 55%;
}

.sp-card-small {
width: 45%;
}

.sp-card-image-container {
  overflow: hidden;
  display: inline-block;
  width: 100%; 
  margin-bottom: .5rem;
}

.sp-card-image {
  transition: transform 0.5s ease;
  display: block;
  width: 100%;
  transform: scale(1);
  height: auto;
}



.sp-card-image:hover {
  transform: scale(1.05); /* Slight zoom in */
}

.sp-caption{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
pointer-events: none;
    padding: 0rem 0rem;

}

.sp-caption-left,
.sp-caption-right {
  text-decoration: none;
  color: inherit;
  font-size: .9rem;
}

.sp-caption-right{
  font-weight: 200;
  opacity: .8;
}

.projects-button{
  width: 50%;
  margin-top: -2rem;
}

/*////////////////*/
/* About Section */
/*////////////////*/


.about-section {
  max-width: 1440px;
  width: 100%;
  padding: 10rem 0rem;
}

.about-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-title{
  width: 25%;
pointer-events: none;
    display: flex;
    gap: .5rem;

}

.about-desc {
  width: 75%;
  font-weight: 300;
pointer-events: none;

}

.about-desc-text{
  font-size: 3vw;
  /* font-family: "Major Mono Display", monospace; */
  font-weight: 200;
}

.about-button{
margin-top: 5rem;
padding-left: 25%;
}

/* about text */

.about-desc-text {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.about-desc-text.visible {
  opacity: 1;
  transform: translateX(0);
}

.about-icon {
 height: 1em;
 vertical-align: middle;
  display: inline-block;
  width: auto;
}


/*////////////////*/
/* Pixel Section */
/*////////////////*/
.grid-container{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  aspect-ratio: 2 / 3;
  max-width: 1440px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  /* padding: 0rem 2rem; */
  margin-top: 5rem;
  position: relative;
}

.pixel {
  background-color: #222;
  border-radius: 0px;
  transition: background-color .3s ease;
}

.pixel.on {
  background-color: rgb(255, 255, 255);
  transition: background-color .3s ease;
}

.pixel:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;
}



@media (max-width: 860px) {
.sp-row{
  flex-direction: column;
  gap: 3rem;
}

.sp-card-large{
  width: 100%;
}

.sp-card-small{
  width: 100%;
}

.landing-row{
  flex-direction: column;
  gap: 2rem;
}

.landing-about{
}



.about-row{
  flex-direction: column;
  gap: 2rem;
}
.about-desc{
  width: 100%;
}
.about-desc-text{
font-size: 1.8rem;
}
}


@media (min-width: 1440px) {
.about-desc-text{
    font-size: 2.8rem

}
}