/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
html {
  
}
body {
  background: var(--black);
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  z-index: -11;
  position: relative;
  
}

.section-dark{
  background-color: var(--black);
}




/*////////////////*/
/*Scroll Top Status */
/*////////////////*/




.scroll-to-top {
  position: fixed;
  bottom: 20px;
  /* right: 15px; */
  width: 100%;
  display: flex;
  justify-self: anchor-center;
  max-width: 1440px;
  height: 15px;
  justify-content: flex-end;
  cursor: pointer;
  z-index: 1000;
  mix-blend-mode: difference;
  transition: transform 0.2s ease;
  pointer-events: none;
}

.scroll-to-top:hover {
}

svg {
  height: 100%;
  display: block;
}

.arrow-up {
  padding-right: 1rem;
  pointer-events: all;
}
/*////////////////*/
/*Ambient Status */
/*////////////////*/

.ambient-status{
  position: fixed; 
  bottom: 1rem; 
  font-size: 13px;
  z-index: 10;
  mix-blend-mode: difference;
  color: white;
  max-width: 1440px;
  
  width: 100%;
  justify-self: anchor-center;
  display: flex;
  justify-content: flex-end;
}

.ambient-status-elements{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.status-group{
  width: calc(50%);
  display: flex;
}

#ambient-status span {
  display: inline-block;
  width: 50%;
  pointer-events: none;
}

#ambient-status .location {
  opacity: 0;
  transition: opacity 0.6s ease;
  transition-delay: 0.5s;
  margin-left: 1rem;
}

#time-spent{
  margin-left:1rem;
}

#ambient-status .location.visible {
  opacity: 1;
}

.bottom-link{
  text-decoration: none;
  color: inherit;
  width: 50%;
  pointer-events: visiblePainted;

}


/*////////////////*/
/*Main content container */
/*////////////////*/

.main-content{
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;

}


/*////////////////*/
/* Header layout */
/*////////////////*/

/* Header layout */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--black);
  border-bottom: 1px solid #ffffff1f;
  position: relative;
  z-index: 10;
  height: 60px;
  position: fixed;
  width: 100vw;
}

/* Header sections */
.header-left {
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav a,
.header-right a {
  position: relative;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

/* Hover underline effect */
.header-nav a::after,
.header-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.header-nav a:hover,
.header-right a:hover {
  color: #fff;
}

.header-nav a:hover::after,
.header-right a:hover::after {
  width: 100%;
}

/* Right section */
.header-right {
  font-size: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover::after {
  width: 100%;
}





/*////////////////*/
/* Line Overlay */
/*////////////////*/

.line-overlay {
position: fixed;
width: calc(100% - 2rem);
height: 100%;
top: 0;
left: 0;
border-left: .5px solid white;
border-right: .5px solid white;
margin: 0rem 1rem;
display: flex;
opacity: .1;
max-width: 1440px;
justify-self: anchor-center;
pointer-events: none;
}

.line-overlay-section {
    width: 25%;
    border-left: .5px solid white;
    border-right: .5px solid white;
}

.line-overlay2 {
  position: fixed;
  width: calc(100% - 2rem);
  height: 100%;
  top: 0;
  left: 0;
  border-left: .5px solid rgb(0, 0, 0);
  border-right: .5px solid rgb(0, 0, 0);
  margin: 0rem 1rem;
  display: flex;
  opacity: .1;
  max-width: 1440px;
  justify-self: anchor-center;
  pointer-events: none;
  z-index: -5;
  }
  
  .line-overlay-section2 {
      width: 25%;
      border-left: .5px solid rgb(0, 0, 0);
      border-right: .5px solid rgb(0, 0, 0);
  }


/*////////////////*/
/* Landing Section */
/*////////////////*/

.landing-section {
  max-width: 1440px;
  width: 100%;
  height: calc(100vh);
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-header{
  display: flex;
}

.home-big-name {
  /* font-size: 13vw; */
  /* font-weight: 700; */
  /* padding-top: 1rem; */
  max-width: 1440px;
  width: 75%;
  /* height: 46vh; */
  height: max-content;
  pointer-events: none;
  position: relative;
  /* margin: 2rem 0rem; */
  margin-top: 5rem;
}

.home-big-name-solid {
top: 0;
left: 0;
width: 100%;
}


.home-big-name-outline {
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  width: 100%;
  transition: top 0.4s ease, opacity 0.4s ease; 
  

}


.landing-row{
width: 100%;
display: flex;
flex-direction: row;
margin-bottom: 6rem;
margin-top: 1rem;

}

.landing-about{
width: 50%;
white-space: nowrap;
pointer-events: none;
}

.landing-about-text{
  width: 50%;
}

.landing-scroll-button {
width: 50%;
}



/*////////////////*/
/* Portfolio Section */
/*////////////////*/


.sp-section {
  max-width: 1440px;
  width: 100%;
  padding: 4rem 0rem;
}

.sp-header {
font-size: 4rem;
overflow: hidden;
pointer-events: none;
}

.sp-row{
  display: flex;
  flex-direction: row;
  margin: 3rem 0rem;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.sp-card-large {
width: 60%;
}

.sp-card-small {
width: 40%;
}

.sp-card-image-container {
  overflow: hidden;
  display: inline-block;
  width: 100%; 
}

.sp-card-image {
  transition: transform 0.5s ease;
  display: block;
  width: 100%;
  height: auto;
}


.sp-card-image:hover {
  transform: scale(1.05); /* Slight zoom in */
}

.sp-caption{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
pointer-events: none;

}

.projects-button{
  width: 50%;
  margin-top: -2rem;
}

/*////////////////*/
/* About Section */
/*////////////////*/


.about-section {
  max-width: 1440px;
  width: 100%;
  padding: 10rem 0rem;
}

.about-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-title{
  width: 25%;
pointer-events: none;

}

.about-desc {
  width: 75%;
  font-size: 3rem;
  font-weight: 300;
pointer-events: none;

}

.about-button{
margin-top: 5rem;
padding-left: 25%;
}


/*////////////////*/
/* Contact Section */
/*////////////////*/

.contact-section-space{
  height: 75vh;
  pointer-events: none;

}


.contact-section{
height: 85vh;
padding-top: 10vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: white;
color: var(--black);
position: fixed;
bottom: 0;
z-index: -10;
gap: 2rem;
}

.contact-text-other{
  
}

.contact-text{
  font-size: 5vw;
  text-align: center;
  white-space: nowrap;
}

.contact-button{
}


/*////////////////*/
/* Pixel Section */
/*////////////////*/
.grid-container{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  aspect-ratio: 2 / 3;
  max-width: 1440px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  /* padding: 0rem 2rem; */
  margin-top: 5rem;
  position: relative;
}

.pixel {
  background-color: #222;
  border-radius: 0px;
  transition: background-color .3s ease;
}

.pixel.on {
  background-color: rgb(255, 255, 255);
  transition: background-color .3s ease;
}

.pixel:hover {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;
}