/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: #fff;
  font-family: "Inter", "Arial", sans-serif;
}

.section-dark{
  background-color: var(--black);
}


/*////////////////*/
/*Main content container */
/*////////////////*/

.main-content{
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;

}

/*////////////////*/
/* Cursor Styles */
/*////////////////*/


.cursor {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.cursor-small {
  width: 20px;
  height: 20px;
  background-color: white;
  mix-blend-mode: difference;
  transition: transform 0.4s ease;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center center;
}

.cursor-large {
  width: 60px;
  height: 60px;
  border: 2px solid white;
  mix-blend-mode: difference;
  transition: opacity 0.3s ease;
}


/*////////////////*/
/* Header layout */
/*////////////////*/

/* Header layout */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: var(--black);
  border-bottom: 1px solid #ffffff1f;
  position: relative;
  z-index: 10;
  height: 60px;
}

/* Header sections */
.header-left {
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav a,
.header-right a {
  position: relative;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

/* Hover underline effect */
.header-nav a::after,
.header-right a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.header-nav a:hover,
.header-right a:hover {
  color: #fff;
}

.header-nav a:hover::after,
.header-right a:hover::after {
  width: 100%;
}

/* Right section */
.header-right {
  font-size: 1rem;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:hover::after {
  width: 100%;
}





/*////////////////*/
/* Line Overlay */
/*////////////////*/

.line-overlay {
position: fixed;
width: calc(100% - 2rem);
height: 100%;
top: 0;
left: 0;
border-left: .5px solid white;
border-right: .5px solid white;
margin: 0rem 1rem;
display: flex;
opacity: .1;
max-width: 1440px;
justify-self: anchor-center;
pointer-events: none;
}

.line-overlay-section {
    width: 25%;
    border-left: .5px solid white;
    border-right: .5px solid white;
}


/*////////////////*/
/* Landing Section */
/*////////////////*/

.landing-section {
  max-width: 1440px;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-big-name {
  font-size: 14vw;
  font-weight: 700;
  padding-top: 1rem;
  max-width: 1440px;
  width: 100%;
  pointer-events: none;
}

.landing-row{
width: 100%;
display: flex;
flex-direction: row;
margin-bottom: 6rem;
margin-top: 1rem;

}

.landing-about{
width: 50%;
white-space: nowrap;
}

.landing-about-text{
  width: 50%;
}

.landing-scroll-button {
width: 50%;
}



/*////////////////*/
/* Portfolio Section */
/*////////////////*/


.sp-section {
  max-width: 1440px;
  width: 100%;
  padding: 4rem 0rem;
}

.sp-header {
font-size: 4rem;
}

.sp-row{
  display: flex;
  flex-direction: row;
  margin: 3rem 0rem;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.sp-card-large {
width: 60%;
}

.sp-card-small {
width: 40%;
}

.sp-card-image-container {
  overflow: hidden;
  display: inline-block;
  width: 100%; 
}

.sp-card-image {
  transition: transform 0.5s ease;
  display: block;
  width: 100%;
  height: auto;
}


.sp-card-image:hover {
  transform: scale(1.05); /* Slight zoom in */
}

.sp-caption{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projects-button{
  width: 50%;
  margin-top: -2rem;
}

/*////////////////*/
/* About Section */
/*////////////////*/


.about-section {
  max-width: 1440px;
  width: 100%;
  padding: 10rem 0rem;
}

.about-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about-title{
  width: 25%;
}

.about-desc {
  width: 75%;
  font-size: 3rem;
  font-weight: 300;
}

.about-button{
margin-top: 5rem;
padding-left: 25%;
}


/*////////////////*/
/* Contact Section */
/*////////////////*/

.contact-section-space{
  height: 75vh;
  pointer-events: none;

}


.contact-section{
height: 85vh;
padding-top: 10vh;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: white;
color: var(--black);
position: fixed;
bottom: 0;
z-index: -10;
}

.contact-text-other{
  
}

.contact-text{
  font-size: 5vw;
  text-align: center;
  white-space: nowrap;
}

.contact-button{

}